{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% if logos_site_name %}{{logos_site_name}}{% else %}No site title{% endif %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=320, initial-scale=1.0">
<!--    <meta name="viewport" content="width=320, initial-scale=1.0, minimum-scale=1.0, maximum-scale=4.0">-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    
    
    <style>
        {% block style %}
        {% endblock %}
    </style>
    
</head>
<body>
<div id="container">

{% block content %}
{% endblock %}

</div> <!-- container -->
</body>

</html>
